html, body{
    margin: 0;
    padding: 0;
}

.wrap{
    display: flex;
    position: relative;
    background-color: black;
}


header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100vw;
    justify-content: space-evenly;
}

.logo{
    color: white;
    font-weight: bolder;
    font-size: 17pt;
    text-align: center;
}




.bannerImg:hover{
    transform: translate(100px, 50px);
}

.imgContainer{
    position: relative;
}

.textbox{
    position: absolute;
}

main{
    height: 400vh;
}

.menu{
    /* width: 90vw; */
    width: 90%;
    height: 80vh;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    margin-top: 80px;
    margin-left: 10vw;
}

.searchContainer{
    display: flex;
    align-items: center;
    outline: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
}

.search{
    overflow: hidden;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    width: 20vw;
}

::-webkit-input-placeholder{
    color: white;
}

.searchIcon{
    width: 25px;
    height: 25px;
}


.titlePreview{
    display: flex;
    justify-content: space-between;
    margin: 10vw;
    width: 30vw;
}

.titleText{
    color: white;
    width: 150px;
    word-break: keep-all;
    font-size: 10pt;
    font-family: sans-serif;
}

.titleText:hover{
    text-decoration: underline white;
    cursor: pointer;
}



.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 30vh;
    /* background-color: red; */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 998;
}



.poster{
    width: 200px;
    height: 320px;
    z-index: 1000;
    box-shadow: 0 14px 28px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.30);
    

}

.posterContainer{
    display: flex;
    align-items: flex-end; /* 두 div를 하단에 정렬 */
    /* justify-content: flex-end; */

}

.infoContainer{
    width: 70%;
}

.name{
    color: white;
    font-size: 30pt;
    font-weight: bolder;
    margin-left: 50px;
}

.description{
    margin-top: 30px;
    margin-left: 50px;
    color: white;
    width: 30vw
}

.posterImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 800px){
    .search{
        width: 15vw;
    }

    header{
        display: none;
    }




}

